@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


li, a, button {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

.header{
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 10%;
    background-color: #e84ee0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}



.nav_links {
    list-style: none;

}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}


.logo {
    font-size: 32px;
    color: #ffffff;
    text-decoration: none;
    font-weight: 700;
}
.logo:hover {
    color: #000000; /* Darker shade on hover */
    text-decoration: underline; /* Underline effect */
}


