.fancyText {

    font-style: italic;
    color: blue;
    font-weight: bold;



}


h1 {
    color: #244012;
    font-size: 48px;
    background-color: aquamarine;
    text-align: center;
    border-radius: 8px;
    font-family: sans-serif;
    
}

body {
    
}

h2 {
    
    color: black;
    font-family: sans-serif;
    font-size: 18px;

}

h3 {
    color: black;
    font-family: sans-serif;
    font-size: 18px;
}




footer {
    background-color: aquamarine;
    border-radius: 8px;
    text-align: center;
    font-family: sans-serif;
    font-size: 18px;

}