/* 1. Homepage
2. Contact Page
3. Header
4. Footer */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    font-family: "Montserrat", sans-serif;
}
    

#selected {
    color: #0088a9;
}

/* Homepage */

.hero-section {
    width: auto;
    height: 820px;
    background-color: transparent;
    border: none;
    background: radial-gradient(circle at 30% 30%, rgba(0, 26, 255, 0.6), rgba(255, 0, 0, 0) 40%),
                radial-gradient(circle at 70% 40%, rgba(19, 119, 220, 0.6), rgba(255, 0, 0, 0) 40%),
                radial-gradient(circle at 50% 80%, rgba(0, 136, 169, 1), rgba(255, 0, 0, 0) 40%),
                #0a0a23;
    background-size: auto;
    border-bottom: 2px solid #ccc;
    z-index: 1;
    position: relative;
}

.hero-welcoming-text {
    position: absolute;
    display: flex;
    height: 300px;
    width: 60%;
    margin-left: 100px;
    margin-top: 150px;
    padding: 0;
    justify-content: left;
    flex-direction: column;
    background-color: transparent;
    z-index: 9999;
}

.hero-welcoming-text a {
    background-color: transparent;
    color: white;
    width: 150px;
}

#hero-welcoming-text_bold, #hero-welcoming-text_description {
    background-color: transparent;
    padding: 0;
    margin: 0 0;
    margin-top: 10px;
    display: flex;
    justify-content: left;
    align-items: center;
    color: white;
}


#hero-welcoming-text_bold {
    font-size: 56px;
    font-weight: bold;
}

#hero-welcoming-text_description {
    font-size: 24px;
    color: #999;
    font-weight: 450;
    margin-bottom: 15px;
    
}

#hero-welcoming-text_bold:hover {
    color: #3498db;
    cursor: grab;
}

#hero-welcoming-text_description:hover {
    color: #f0f0f0; 
    cursor: grab;
}

button[id="hero-about_us-button"]{
    display: block;             
    padding: 7px 10px;
    width: 150px;
    font-size: 16px;
    color: #fff;
    background-color: #2C2C2C;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 2px 5px 6px rgba(0, 0, 0, 0.3);
    
}

button[id="hero-about_us-button"]:hover {
    transition: all 0.3s ease 0s;
    background-color: #0088a9;  
    transform: scale(1.05);
    box-shadow: 8px 12px 20px rgba(19, 119, 220, 0.6);

}

/* Reviews Section */
.reviews-section {
    margin-top: 100px;
}

.review_cards {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    height: auto;
    width: auto;
    
    margin-bottom: 90px;
}



.reviews-section a {
    display: flex;
    justify-content: center;
    font-size: 56px;
    font-weight: bold;

    
}

.reviews-section h4 {
    display: flex;
    justify-content: center;
    font-weight: normal;
    color: #999;
    font-size: 32px;

}

#review_card {
    height: 250px;
    width: 300px;
    margin: 10px;
    background-color: #ffffff;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.3);
    padding: 15px;
    display: flex;
    flex-direction: column;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#review_card:hover {
    transform: scale(1.05);
    box-shadow: 8px 20px 19px rgba(19, 119, 220, 0.6);
    cursor: pointer;
}

#review_card .user-info {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#review_card .user-name {
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 5px;
}

#review_card .date {
    color: #999;
    font-size: 12px;
    margin-bottom: 7px;
}

#review_card .review-text {
    font-size: 14px;
    line-height: 1.5;
    color: #333;
}

#review_card .rating {
    display: flex;
    align-items: center;
    margin-top: 5px;
}

#review_card .star {
    color: #FFD700;
    margin-right: 3px;
}


/* Contact Page */

.contact-form {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: auto;
    height: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

h1, h2 {
    text-align: center;
}

h1 {
    font-size: 200;
    margin: 20px;
}

h2 {
    font-size: smaller;
    text-decoration: dashed;
    margin: 30px;
}

fieldset {
    border-width: 0;
    font-weight: normal;
    padding: 10px;
}

input[type="name"] {
    display: flex;
    margin-bottom: 10px;
    width: 350px;
    padding: 10px;
    font-size: 16px; 
    border: 0px solid #ccc; 
    box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.3);
}

input[type="email"] {
    display: flex;
    margin-bottom: 10px;
    width: 350px;
    padding: 10px; 
    font-size: 16px; 
    border: 0px solid #ccc; 
    box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.3);
}

input[type="tel"] {
    display: flex;
    margin-bottom: 10px;
    width: 350px;
    padding: 10px; 
    font-size: 16px; 
    border: 0px solid #ccc; 
    box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.3);
}

textarea[id="request"] {
    display: flex;
    resize: none; 
    margin-bottom: 10px;
    width: 350px;
    height: 190px;
    padding: 10px;
    font-size: 16px;
    border: 0px solid #ccc; 
    box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.3);
}


form {
    display: block;
}

button[id="submit"]{
    display: block;             
    margin: 30px auto;
    width: 200px;
    padding: 15px;
    font-size: 16px;
    color: #fff;
    background-color: #2C2C2C;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 2px 5px 6px rgba(0, 0, 0, 0.3);
    
}

button[id="submit"]:hover {
    transition: all 0.3s ease 0s;
    background-color: #777575;  
    transform: scale(1.05);
}

.kleur {
    color: red;
}
/* About us Page */

.aboutus {
    display: flex;
    justify-content: right;
    flex-direction: column;
    width: 900px;

    margin-bottom: 50px;

}

.aboutus a {
    font-weight: bold;
    font-size: 32px;
    margin-top: 50px;
    margin-left: 100px;
    margin-bottom: 15px;
}

.aboutus p {
    font-weight: normal;
    font-size: 16px;
    margin-left: 100px;
}

.aboutus dl {
    margin-left: 100px;
}

.aboutus dl li {
    font-weight: normal;
    font-size: 16px;
}


/* Tutoring Page */

.tutoring-hero-section {
    width: auto;
    height: 620px;
    background-color: transparent;
    border: none;
    background: radial-gradient(circle at 30% 30%, rgba(0, 26, 255, 0.6), rgba(255, 0, 0, 0) 40%),
                radial-gradient(circle at 70% 40%, rgba(19, 119, 220, 0.6), rgba(255, 0, 0, 0) 40%),
                radial-gradient(circle at 50% 80%, rgba(0, 136, 169, 1), rgba(255, 0, 0, 0) 40%),
                #0a0a23;
    background-size: auto;
    border-bottom: 2px solid #ccc;
    z-index: 1;
    position: relative;
}


.tutoring-hero-welcoming-text {
    position: absolute;
    display: flex;
    height: 300px;
    width: 60%;
    margin-left: 100px;
    margin-top: 150px;
    padding: 0;
    justify-content: center;
    flex-direction: column;
    background-color: transparent;
    z-index: 9999;
}

.tutoring-hero-welcoming-text a {
    background-color: transparent;
    color: white;
    width: 150px;
}

#tutoring-hero-welcoming-text_bold, #tutoring-hero-welcoming-text_description {
    background-color: transparent;
    padding: 0;
    margin: 0 0;
    margin-top: 10px;
    display: flex;
    justify-content: left;
    align-items: center;
    color: white;
}


#tutoring-hero-welcoming-text_bold {
    font-size: 56px;
    font-weight: bold;
}

#tutoring-hero-welcoming-text_description {
    font-size: 24px;
    color: #999;
    font-weight: 450;
    margin-bottom: 15px;
    
}

#tutoring-hero-welcoming-text_bold:hover {
    color: #3498db;
    cursor: grab;
}

#tutoring-hero-welcoming-text_description:hover {
    color: #f0f0f0; 
    cursor: grab;
}

/* Header CSS */


li, a, button{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #000000;
    text-decoration: none;
}

header{
    top: 0;
    left: 0;
    width: auto;
    padding: 30px 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    border-bottom: 2px solid #ccc;
     
    
}

.nav_links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px;
}

.nav_links li {
    position: relative;
}

.nav_links a {
    text-decoration: none;
    color: #333;
    padding: 10px;
    display: block;
}

.dropdown {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 100%;
    left: 0;
    list-style: none;
    background-color: #fff;
    padding: 0;
    margin: 0;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    transition: opacity 0.3s ease, transform 0.3s ease;
    transform: translateY(-12px);
}

.dropdown li {
    width: 150px;
}

.dropdown a {
    padding: 10px;
    color: #333;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {
    background-color: #f0f0f0;
}


.nav_links li:hover .dropdown {
    opacity: 1;
    visibility: visible;
    transform: translateY(0); 
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
    color: #0088a9;
    transform: scale(1.05);
}


button[id="contact"] {
    font-family: "Montserrat", sans-serif;
    padding: 9px 29px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button[id="contact"]:hover {
    background-color: rgba(0, 136, 169, 0.8);
    transition: all 0.3s ease 0s;
    transform: scale(1.05);

}

.logo {
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 32px;
    color: #000000;
    text-decoration: none;
    transition: all 0.3s ease 0s;
}

.logo:hover {
    color: #0088a9;
    transition: all 0.3s ease 0s;
    transform: scale(1.05);
}


/* Summaries Page */
#start-section {
    
    background-color: #f4f4f4;
    padding: 40px;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 100px;
    border-radius: 10px;
}

#start-section h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

#start-section p {
    font-size: 18px;
    margin-bottom: 20px;
}

.cta-button {
    display: inline-block;
    background-color: #007BFF; /* Blue background */
    color: white; /* White text */
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none; /* Remove underline */
    transition: background-color 0.3s; /* Smooth transition */
}

.cta-button:hover {
    background-color: #0056b3; /* Darker blue on hover */
}


.download-icon {
    width: 16px; /* Adjust the size of the icon */
    height: 16px; /* Adjust the size of the icon */
    margin-right: 5px; /* Space between the icon and text */
    vertical-align: middle; /* Aligns the icon with the text */
    display: inline-block; /* Keeps it inline with text */
    background-color: transparent;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
}

.card {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    
}

.card:hover {
    transform: translateY(-5px);
}


.card-title {
    font-size: 18px;
    font-weight: bold;
}

.card p {
    margin: 10px 0;
}

.download-btn {
    background-color: #f0f0f0;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.download-btn:hover {
    background-color: #ddd;
}

#searchInput {
    padding: 10px;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    margin-bottom: 80px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 600px) {
    #searchInput {
        width: 100%;
    }
}




/* Footer CSS */
footer {
    background-color: white;  
    color: #333; 
    padding: 20px;
    text-align: center;
    border: none; 
    border-top: 2px solid #ccc;
    width: 100%;
     
}

footer nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    border: none;
    display: inline-block;
}

footer nav ul li {
    display: inline;
    margin: 0 15px;
    border: none;
}

footer address {
    margin: 20px 0;
    color: #333;  
    border: none;
}

footer p {
    margin-top: 20px;
    font-size: 0.9em;
    color: #333; 
    border: none;
}

footer a {
    color: #333;  
    text-decoration: none;
    border: none;
}

footer a:hover {
    color: #0088a9;
    transform: scale(1.05);

}





